node_modules/
.env
uploads/
data/
.claude/
.vscode/
.qoder/*
!.qoder/repowiki
.qoder/repowiki/*
!.qoder/repowiki/zh
.qoder/repowiki/zh/*
!.qoder/repowiki/zh/content
server.log
skills-lock.json
skills/
